/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/08/2013, 4:29:37 PM
    Author     : rihanio
*/

    .separator:horizontal .line {
    -fx-padding: 0.043333em 0.0em 0.0em 0.0em; /* 1 0 0 0 */
    -fx-border-color: derive(whitesmoke,-60%) transparent transparent transparent;
}


    #Mainpane{
        /*-fx-background-image: url("background_image.png");*/
        -fx-background-image: url("moon_background.jpg");
        -fx-background-repeat: stretch;   
        -fx-background-size: 1180 650;
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
        
    }

    #prayertime_pane{
        -fx-background-color: rgba(255, 255, 255, 0.1); 
        -fx-background-radius: 20;
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/ 
        -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
        -fx-border-color: rgb(0, 0, 0);
        -fx-border-radius: 20;
         
    }

    #prayer-text-arabic {
        
        -fx-font-size: 30px;
        /*-fx-font-family: 'B Majid Shadow';*/
/*        -fx-font-family: 'Old Antic Outline Shaded';*/
        -fx-font-family: 'B Jadid';
        /*-fx-font-family: 'Arial Bold';*/
        -fx-fill: white;
        -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.5) , 4, 0.0 , 0 , 2 );
        
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/ 
        -fx-text-alignment:right;
        
   }
   
    #prayer-text-english {
        
        -fx-font-size: 25px;
        /*-fx-font-family: 'B Majid Shadow';*/
/*        -fx-font-family: 'Old Antic Outline Shaded';*/
        /*-fx-font-family: 'B Jadid';*/
        -fx-font-family: 'Arial Black';
        /*-fx-font-family: 'WLM Carton';*/
        -fx-fill: whitesmoke;
        -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.5) , 4, 0.0 , 0 , 2 );
        
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/ 
        -fx-text-alignment: left;
        
   }
   
   #moon-text-english{
        
        -fx-font-size: 16px;
        /*-fx-font-family: 'B Majid Shadow';*/
/*        -fx-font-family: 'Old Antic Outline Shaded';*/
        /*-fx-font-family: 'B Jadid';*/
        -fx-font-family: 'Arial Bold';
        /*-fx-fill: white;*/
        -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.5) , 4, 0.0 , 0 , 2 );
        
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/ 
        -fx-text-alignment: left;
        -fx-text-fill:whitesmoke;
        
   }

