/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/08/2013, 4:29:37 PM
    Author     : rihanio
*/

    .separator:horizontal .line {
    -fx-padding: 0.043333em 0.0em 0.0em 0.0em; /* 1 0 0 0 */
    -fx-border-color: derive(whitesmoke,-60%) transparent transparent transparent;
}


/*    #Mainpane{
        -fx-background-image: url("background_image.png");
        -fx-background-image: url("moon_background.jpg");
        -fx-background-image: url("../Images/wallpaper4.jpg");
        -fx-background-repeat: stretch;   
        -fx-background-size: 650 1180;
        -fx-background-position: top left;
        -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); */
/*        
    }*/



    #prayer-text-arabic {
        
        -fx-font-size: 30px;
        /*-fx-font-family: 'B Majid Shadow';*/
/*        -fx-font-family: 'Old Antic Outline Shaded';*/
        -fx-font-family: 'B Jadid';
        /*-fx-font-family: 'Arial Bold';*/
        -fx-fill: white;
        /*-fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.8) , 4, 0.0 , 0 , 2 );*/
        /*-fx-text-outline: 2px 2px #ffffff;*/
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/ 
        -fx-text-alignment:right;
        
   }
   
    #prayer-text-english {
        
        -fx-font-size: 18px;
        /*-fx-font-family: 'B Majid Shadow';*/
/*        -fx-font-family: 'Old Antic Outline Shaded';*/
        /*-fx-font-family: 'B Jadid';*/
        -fx-font-family: 'Arial Black';
        /*-fx-font-family: 'WLM Carton';*/
        -fx-fill: white;
        -fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.8) , 4, 0.0 , 0 , 2 );
        
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.8) , 0,0,0,1 );*/ 
        -fx-text-alignment: left;
        
   }
 
   
       #prayer-label-arabic {
        
        -fx-font-size: 42px;
        /*-fx-font-family: 'B Majid Shadow';*/
        -fx-font-family: 'Old Antic Outline Shaded';
        /*-fx-font-family: 'B Jadid';*/
        /*-fx-font-family: 'Arial Bold';*/
        -fx-text-fill: white;
        
        /*-fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.8) , 4, 0.0 , 0 , 2 );*/
        /*-fx-text-outline: 2px 2px #ffffff;*/
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/ 
        /*-fx-text-alignment:right;*/
        
   }
   
    #prayer-label-english {
        
        -fx-font-size: 34px;
        /*-fx-font-family: 'B Majid Shadow';*/
/*        -fx-font-family: 'Old Antic Outline Shaded';*/
        /*-fx-font-family: 'B Jadid';*/
        -fx-font-family: 'Arial Black';
        /*-fx-font-family: 'WLM Carton';*/
        -fx-text-fill: white;
        /*-fx-text-alignment: left;*/
        
   }
   #moon-text-english{
        
        -fx-font-size: 16px;
        /*-fx-font-family: 'B Majid Shadow';*/
/*        -fx-font-family: 'Old Antic Outline Shaded';*/
        /*-fx-font-family: 'B Jadid';*/
        -fx-font-family: 'Arial Black';
        /*-fx-fill: white;*/
        /*-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.5) , 4, 0.0 , 0 , 2 );*/
        
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/ 
        -fx-text-alignment: left;
        -fx-text-fill:whitesmoke;
        
   }

      #moon-text-arabic{
        
        -fx-font-size: 23px;
        /*-fx-font-family: 'B Majid Shadow';*/
        /*-fx-font-family: 'Old Antic Outline Shaded';*/
        /*-fx-font-family: 'B Jadid';*/
        -fx-font-family: 'Arial Bold';
        /*-fx-fill: white;*/
        /*-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.5) , 4, 0.0 , 0 , 2 );*/
        
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/ 
        -fx-text-alignment: right;
        -fx-text-fill:whitesmoke;
        
   }
  
      
      #athan-change-text{
        
        -fx-font-size: 35px;
        /*-fx-font-family: 'B Majid Shadow';*/
/*        -fx-font-family: 'Old Antic Outline Shaded';*/
        /*-fx-font-family: 'B Jadid';*/
        -fx-font-family: 'Lateef';
        /*-fx-fill: white;*/
        /*-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.5) , 4, 0.0 , 0 , 2 );*/
        
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/ 
        -fx-text-alignment: left;
        -fx-text-fill:whitesmoke;
        
   }
   
   
      #hadith-text-arabic{
        
        -fx-font-size: 40px;
        /*-fx-font-family: 'B Majid Shadow';*/
        /*-fx-font-family: 'Old Antic Outline Shaded';*/
        /*-fx-font-family: 'B Jadid';*/
        -fx-font-family: 'Lateef';
        /*-fx-font-family: 'PT Bold Arch';*/
        /*-fx-font-family: 'Arial Bold';*/
        /*-fx-fill: white;*/
        /*-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.5) , 4, 0.0 , 0 , 2 );*/
        
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/ 
        -fx-text-alignment: right;
        -fx-text-fill:goldenrod;
        
   }
   
   
   #hadith-text-english{
        
        -fx-font-size: 32px;
        /*-fx-font-family: 'B Majid Shadow';*/
        /*-fx-font-family: 'Old Antic Outline Shaded';*/
        /*-fx-font-family: 'B Jadid';*/
        -fx-font-family: 'Lateef';
        /*-fx-font-family: 'PT Bold Arch';*/
        /*-fx-font-family: 'Arial Bold';*/
        /*-fx-fill: white;*/
        /*-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.5) , 4, 0.0 , 0 , 2 );*/
        
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/ 
        -fx-text-alignment: left;
        -fx-text-fill:goldenrod;
        
   }
   
    #moonpane{
	 
         -fx-background-color: rgba(0, 0, 0, 0.30); 
	 -fx-border-color: black;
	 -fx-border-radius: 20;
	 -fx-padding: -35 0 -35 35;
	 -fx-background-radius: 20;
	}
        
        
        #hadithpane{
	 
         -fx-background-color: rgba(0, 0, 0, 0.30); 
	 -fx-border-color: black;
	 -fx-border-radius: 20;
	 -fx-padding: 30 30 30 30;
	 -fx-background-radius: 20;
	}
        
        #clockPane{
	 
         -fx-background-color: rgba(0, 0, 0, 0.30); 
	 -fx-border-color: black;
	 -fx-border-radius: 20;
	 -fx-padding: 30 30 30 30;
	 -fx-background-radius: 20;
	}        
    #prayertime_pane{
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/ 
/*        -fx-effect: dropshadow( one-pass-box , black , 8 , 0.2 , 2 , 0 );*/
         -fx-background-color: rgba(0, 0, 0, 0.30); 
         -fx-border-color: black;
	 /*-fx-border-color: rgba(0,0,0,0.15);*/
	 -fx-border-radius: 20;
	 /*-fx-padding: 20 0 20 10;*/
	 -fx-background-radius: 20;
         /*-fx-border-width: 15 15 15 15;*/
/*         -fx-border-image-source: url("../Images/Islamic.png");
         -fx-border-image-slice: 20 20 20 20 repeat;
         -fx-border-image-width: 20 20 20 20;
         -fx-border-image-repeat: round;*/
    }
    
    #hourLeft{
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/ 
/*        -fx-effect: dropshadow( one-pass-box , black , 8 , 0.2 , 2 , 0 );*/
        
         -fx-background-color: whitesmoke; 
         -fx-border-color: black;
	 /*-fx-border-color: rgba(0,0,0,0.15);*/
	 -fx-border-radius: 7;
	 -fx-padding: 7 7 7 7;
	 -fx-background-radius: 7;
         
         -fx-font-size: 50px;
        /*-fx-font-family: 'B Majid Shadow';*/
        /*-fx-font-family: 'Old Antic Outline Shaded';*/
        /*-fx-font-family: 'B Jadid';*/
        /*-fx-font-family: 'PT Bold Arch';*/
        -fx-font-family: 'Arial Bold';
        /*-fx-fill: white;*/
        /*-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.5) , 4, 0.0 , 0 , 2 );*/
        
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/ 
        /*-fx-text-alignment: right;*/
        -fx-text-fill:black;
/*        -fx-shape: "M 0,1 L 1,1";
        -fx-stroke: #ff5700;
        -fx-background-color: skyblue;*/
    /*-fx-background-insets: 0, 10;*/

    
    }
    

        #hour {
        
        -fx-font-size: 90px;
        /*-fx-font-family: 'B Majid Shadow';*/
/*        -fx-font-family: 'Old Antic Outline Shaded';*/
        /*-fx-font-family: 'B Jadid';*/
        -fx-font-family: 'Arial Black';
        /*-fx-font-family: 'WLM Carton';*/
        -fx-text-fill:whitesmoke;
        -fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.8) , 4, 0.0 , 0 , 2 );
        
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.8) , 0,0,0,1 );*/ 
        -fx-text-alignment: left;
        
   }
   
   #minute {
        
        -fx-font-size: 90px;
        /*-fx-font-family: 'B Majid Shadow';*/
/*        -fx-font-family: 'Old Antic Outline Shaded';*/
        /*-fx-font-family: 'B Jadid';*/
        -fx-font-family: 'Pinstrip Limo';
        /*-fx-font-family: 'WLM Carton';*/
        -fx-text-fill:whitesmoke;
        -fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.8) , 4, 0.0 , 0 , 2 );
        
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.8) , 0,0,0,1 );*/ 
        -fx-text-alignment: left;
        
   }
   #date {
        
        -fx-font-size: 24px;
        /*-fx-font-family: 'B Majid Shadow';*/
/*        -fx-font-family: 'Old Antic Outline Shaded';*/
        /*-fx-font-family: 'B Jadid';*/
        -fx-font-family: 'arial';
        /*-fx-font-family: 'WLM Carton';*/
        -fx-text-fill:whitesmoke;
        /*-fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.8) , 4, 0.0 , 0 , 2 );*/
        
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.8) , 0,0,0,1 );*/ 
        -fx-text-alignment: left;
        
   }